.container{
/*margin: 50px 50px 50px 50px;*/
min-width: 1200px;
}
body{
 background-color: #f4f4f4;
}
/*.cards{
  display: flex;
}
.main-card{

  width: 334px;
  font-size: 34px;
  margin: 0;
  padding: 0 16px 10px 20px;
  color: white
}
.primary-cards{
  font-style: normal;
  color: #5B5554;
  margin: 0px 32px 0 32px;
  
}

.secondary-cards {
  width: 370px;
  font-style: normal;
  }
  .card{
    background-color: white;
    width: 370px;
  }
  .Story:last-child{
    border: none;
  }
  .Story{
    border-bottom: 1px solid black;
  }*/
  /*.title{
    display: inline-flex;
    border-bottom: solid 4px #6093f2;
    margin-left: 32px;
    padding-top: 5px;
  }
  .cards-bollywood{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 32px;

  }
  .secondary-cards{
    grid-column: span 3;
  }
  .primary-cards-story{
    grid-column: span 1;
  }
  .primary-cards-story:last-child{
    margin-right: 32px;
  }
  .primary-cards-story:nth-child(2){
    margin-left: 32px;
  }

  .Two_row_story{
    margin-left: 32px;
  }
*/ /* .block{
  padding: 0px 23px 1px 23px;
  margin-top: 23px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.block:nth-child(1){
  padding: 21px 72px 21px 23px;
}*/
  
.card-story-author{
  width: 103px;
  height: 16px;
  font-family: NeuzeitGro-Reg;
  font-size: 16px;
  text-align: left;
  color: #818181;
}
.story-story-author{
  height: 14px;
  font-family: NeuzeitGro-Reg;
  font-size: 14px;
  text-align: left;
  color: #818181;
}
.story-story-content{
  font-family: NeuzeitGro-Bol;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
  
}
.story-story-content:first-child{
 margin-top: 0px;
}

.cards-story-content{
  font-family: NeuzeitGro-Reg;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #222222;
}
.card-wrapper{
  display: flex;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  width: 1172px;
  height: 443.5px;
}


























